.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr)); /* creates a responsive grid */
  grid-gap: 15px;
  padding: 15px;
}

.photo-item {
  width: 100%;
  height: auto; /* Keep the original aspect ratio */
  overflow: hidden; /* In case the images are of different sizes */
}

.photo-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Ensures the images cover the area */
}
.photo-item img:hover {
  transform: scale(1.1); /* Optional: zoom effect on hover */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(255, 255, 255);
}